In [27]:
Bf_z = list( range(50,550,50))
import arcpy
#aprx_path = r'X:\Projects\2019\ENV.533.aprx'
#gdb_path = r'X:\shared\ENV_default.gdb'
from arcpy import env
env.parallelProcessingFactor = "0"
env.overwriteOutput = True
env.cellSize = 0.2
env.addOutputsToMap = False
import pandas as pd
import numpy as np
aprx = arcpy.mp.ArcGISProject('CURRENT') # or 'CURRENT' in live py console
aprx.defaultGeodatabase
env.addOutputsToMap = False

In [28]:
INT = "Brokke_IT_Dam"
Rs_ch = "Broke_T1_ComputeChangeRa.crf"
OP_N = "Brokke_IT"

In [29]:
#Buffers 
fields = ['OID@']# OID@ is ObjectID token (see search cursor help)
# clear any existing selections
arcpy.SelectLayerByAttribute_management(f'{INT}', "CLEAR_SELECTION")
#Select Feature 
cursor = arcpy.da.SearchCursor(f'{INT}', fields)
for FID in  (cursor): # unpack each row by assigning to field name variables
        T = FID[0]
        print(T)
        arcpy.management.SelectLayerByAttribute(f'{INT}', "NEW_SELECTION", f"OBJECTID = {FID[0]}", None)
        for j in Bf_z:
            #print (list(T,j))
            arcpy.analysis.Buffer(f'{INT}', 
                            "Buf", f"{j} Meters", "FULL", "ROUND", "NONE", None, "PLANAR")
#Get the Area for each interval 
            print(j)
            o = arcpy.sa.ExtractByMask(f"{Rs_ch}", "Buf")
            o.save(rf"CC_int_{T}_{j}") 
            arcpy.management.BuildRasterAttributeTable(rf"CC_int_{T}_{j}", "Overwrite", "NONE")
            arcpy.management.JoinField(rf"CC_int_{T}_{j}", "Value",
                                       f"{Rs_ch}", 
                               "Value", "Class_name;Class_From;Class_To")
            arcpy.management.CalculateField(rf"CC_int_{T}_{j}", "Dam", f"{T}", "PYTHON3", '', "TEXT", "NO_ENFORCE_DOMAINS")
            arcpy.management.CalculateField(rf"CC_int_{T}_{j}", "Buffer_Zone", f"{j}", "PYTHON3", '', "TEXT", "NO_ENFORCE_DOMAINS")
            arcpy.management.Delete("Buf", '')

1
50

ExecuteError: Failed to execute. Parameters are not valid.
ERROR 010568: Invalid extent. Please check for zero length or width, or failure to project extent to output spatial reference.
Failed to execute (ExtractByMask).

In [11]:
R1 = arcpy.ListRasters("CC_int_*_*")
len(R1)

60

In [13]:
#Just for reWriting my List DONT USE
Area_bf = []
for i in R1:
   df_CC= pd.DataFrame(arcpy.da.FeatureClassToNumPyArray(i,('Class_From', 'Class_To','Count',"Buffer_Zone","Dam")))
   Area_bf.append(df_CC) 
len(Area_bf)

60

In [14]:
for i in Area_bf : 
    i["Area_KM2"] = i['Count']*.2*.2

In [15]:
Area_bf

[  Class_From Class_To     Count Buffer_Zone Dam  Area_KM2
0          1        5    3588.0          50   6    143.52
1          5        1   71201.0          50   6   2848.04
2       Same     Same  121101.0          50   6   4844.04,   Class_From Class_To     Count Buffer_Zone Dam  Area_KM2
0          1        5    6854.0         100   6    274.16
1          5        1  240486.0         100   6   9619.44
2          5        2     659.0         100   6     26.36
3       Same     Same  536613.0         100   6  21464.52,   Class_From Class_To      Count Buffer_Zone Dam  Area_KM2
0          1        5    14036.0         150   6    561.44
1          2        1      114.0         150   6      4.56
2          2        5     1567.0         150   6     62.68
3          5        1   506456.0         150   6  20258.24
4          5        2      767.0         150   6     30.68
5       Same     Same  1243184.0         150   6  49727.36,   Class_From Class_To      Count Buffer_Zone Dam  Area_KM2
0          1        0     2378.0         200   6     95.12
1          1        2      439.0         200   6     17.56
2          1        5    21710.0         200   6    868.40
3          2        1      115.0         200   6      4.60
4          2        5     1561.0         200   6     62.44
5          5        0     2611.0         200   6    104.44
6          5        1   912232.0         200   6  36489.28
7          5        2     1470.0         200   6     58.80
8       Same     Same  2197936.0         200   6  87917.44,   Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0          1        0     2378.0         250   6      95.12
1          1        2      500.0         250   6      20.00
2          1        5    51663.0         250   6    2066.52
3          2        1      432.0         250   6      17.28
4          2        5     1749.0         250   6      69.96
5          5        0     8291.0         250   6     331.64
6          5        1  1400345.0         250   6   56013.80
7          5        2     2046.0         250   6      81.84
8       Same     Same  3440185.0         250   6  137607.40,   Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0          1        0     2378.0         300   6      95.12
1          1        2      500.0         300   6      20.00
2          1        5    79740.0         300   6    3189.60
3          2        1     7356.0         300   6     294.24
4          2        5     4845.0         300   6     193.80
5          5        0    29816.0         300   6    1192.64
6          5        1  1877797.0         300   6   75111.88
7          5        2     2046.0         300   6      81.84
8       Same     Same  5063051.0         300   6  202522.04,   Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0          1        0     3352.0         350   6     134.08
1          1        2      735.0         350   6      29.40
2          1        5   115762.0         350   6    4630.48
3          2        1     7351.0         350   6     294.04
4          2        5     4858.0         350   6     194.32
5          5        0    51563.0         350   6    2062.52
6          5        1  2646165.0         350   6  105846.60
7          5        2     3558.0         350   6     142.32
8       Same     Same  6786978.0         350   6  271479.12,   Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0          1        0     6045.0         400   6     241.80
1          1        2      727.0         400   6      29.08
2          1        5   158601.0         400   6    6344.04
3          2        1    13790.0         400   6     551.60
4          2        5    14090.0         400   6     563.60
5          5        0    79676.0         400   6    3187.04
6          5        1  3486113.0         400   6  139444.52
7          5        2     4027.0         400   6     161.08
8       Same     Same  8802772.0         400   6  352110.88,   Class_From Class_To       Count Buffer_Zone Dam   Area_KM2
0          1        0      7883.0         450   6     315.32
1          1        2       735.0         450   6      29.40
2          1        5    213186.0         450   6    8527.44
3          2        0        23.0         450   6       0.92
4          2        1     17126.0         450   6     685.04
5          2        5     32325.0         450   6    1293.00
6          5        0    100231.0         450   6    4009.24
7          5        1   4431520.0         450   6  177260.80
8          5        2      5537.0         450   6     221.48
9       Same     Same  11095758.0         450   6  443830.32,   Class_From Class_To       Count Buffer_Zone Dam   Area_KM2
0          1        0      7882.0         500   6     315.28
1          1        2      3614.0         500   6     144.56
2          1        5    325776.0         500   6   13031.04
3          2        0        26.0         500   6       1.04
4          2        1     67835.0         500   6    2713.40
5          2        5     56906.0         500   6    2276.24
6          5        0    118771.0         500   6    4750.84
7          5        1   5523263.0         500   6  220930.52
8          5        2      7053.0         500   6     282.12
9       Same     Same  13524267.0         500   6  540970.68,   Class_From Class_To     Count Buffer_Zone Dam  Area_KM2
0          1        0   13329.0          50   1    533.16
1          1        2   24648.0          50   1    985.92
2          1        5   44351.0          50   1   1774.04
3          2        0     108.0          50   1      4.32
4          2        1    8046.0          50   1    321.84
5          2        5    3605.0          50   1    144.20
6       Same     Same  102213.0          50   1   4088.52,   Class_From Class_To     Count Buffer_Zone Dam  Area_KM2
0          1        0   23843.0         100   1    953.72
1          1        2   38522.0         100   1   1540.88
2          1        5  228763.0         100   1   9150.52
3          2        0    2169.0         100   1     86.76
4          2        1   20557.0         100   1    822.28
5          2        5    9910.0         100   1    396.40
6       Same     Same  461430.0         100   1  18457.20,   Class_From Class_To      Count Buffer_Zone Dam  Area_KM2
0          1        0    29109.0         150   1   1164.36
1          1        2    55954.0         150   1   2238.16
2          1        5   455145.0         150   1  18205.80
3          2        0     2169.0         150   1     86.76
4          2        1    43544.0         150   1   1741.76
5          2        5    25840.0         150   1   1033.60
6          5        1     6760.0         150   1    270.40
7          5        2     1375.0         150   1     55.00
8       Same     Same  1146990.0         150   1  45879.60,   Class_From Class_To      Count Buffer_Zone Dam  Area_KM2
0          1        0    33718.0         200   1   1348.72
1          1        2    69274.0         200   1   2770.96
2          1        5   810395.0         200   1  32415.80
3          2        0     2169.0         200   1     86.76
4          2        1    70556.0         200   1   2822.24
5          2        5    63317.0         200   1   2532.68
6          5        1    48255.0         200   1   1930.20
7          5        2     1603.0         200   1     64.12
8       Same     Same  2041930.0         200   1  81677.20,   Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0          1        0    37146.0         250   1    1485.84
1          1        2    89165.0         250   1    3566.60
2          1        5  1332020.0         250   1   53280.80
3          2        0     2169.0         250   1      86.76
4          2        1    91964.0         250   1    3678.56
5          2        5    74258.0         250   1    2970.32
6          5        0      540.0         250   1      21.60
7          5        1   100114.0         250   1    4004.56
8          5        2     2175.0         250   1      87.00
9       Same     Same  3178732.0         250   1  127149.28,   Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0          1        0    37190.0         300   1    1487.60
1          1        2   122798.0         300   1    4911.92
2          1        5  1813851.0         300   1   72554.04
3          2        0     2169.0         300   1      86.76
4          2        1   108293.0         300   1    4331.72
5          2        5    80594.0         300   1    3223.76
6          5        0     4489.0         300   1     179.56
7          5        1   232403.0         300   1    9296.12
8          5        2     3694.0         300   1     147.76
9       Same     Same  4662540.0         300   1  186501.60,   Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0          1        0    39497.0         350   1    1579.88
1          1        2   154361.0         350   1    6174.44
2          1        5  2364780.0         350   1   94591.20
3          2        0     2169.0         350   1      86.76
4          2        1   128904.0         350   1    5156.16
5          2        5   103132.0         350   1    4125.28
6          5        0     9319.0         350   1     372.76
7          5        1   409876.0         350   1   16395.04
8          5        2    11631.0         350   1     465.24
9       Same     Same  6396762.0         350   1  255870.48,   Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0          1        0    39497.0         400   1    1579.88
1          1        2   204169.0         400   1    8166.76
2          1        5  2952199.0         400   1  118087.96
3          2        0     2169.0         400   1      86.76
4          2        1   148786.0         400   1    5951.44
5          2        5   127581.0         400   1    5103.24
6          5        0    13522.0         400   1     540.88
7          5        1   512323.0         400   1   20492.92
8          5        2    20843.0         400   1     833.72
9       Same     Same  8544557.0         400   1  341782.28,   Class_From Class_To       Count Buffer_Zone Dam   Area_KM2
0          1        0     39497.0         450   1    1579.88
1          1        2    249272.0         450   1    9970.88
2          1        5   3759904.0         450   1  150396.16
3          2        0      2169.0         450   1      86.76
4          2        1    156907.0         450   1    6276.28
5          2        5    143677.0         450   1    5747.08
6          5        0     17861.0         450   1     714.44
7          5        1    603196.0         450   1   24127.84
8          5        2     31181.0         450   1    1247.24
9       Same     Same  10899726.0         450   1  435989.04,   Class_From Class_To       Count Buffer_Zone Dam   Area_KM2
0          1        0     39497.0         500   1    1579.88
1          1        2    316184.0         500   1   12647.36
2          1        5   4688315.0         500   1  187532.60
3          2        0      2169.0         500   1      86.76
4          2        1    160485.0         500   1    6419.40
5          2        5    151390.0         500   1    6055.60
6          5        0     21729.0         500   1     869.16
7          5        1    681142.0         500   1   27245.68
8          5        2     43247.0         500   1    1729.88
9       Same     Same  13526831.0         500   1  541073.24,    Class_From Class_To    Count Buffer_Zone Dam  Area_KM2
0           0        1   2136.0          50   2     85.44
1           0        2   5504.0          50   2    220.16
2           0        5   2666.0          50   2    106.64
3           1        0  27386.0          50   2   1095.44
4           1        2  33034.0          50   2   1321.36
5           1        5  21338.0          50   2    853.52
6           2        0   2438.0          50   2     97.52
7           2        1   5441.0          50   2    217.64
8           2        5  13029.0          50   2    521.16
9           5        0   3432.0          50   2    137.28
10          5        2  29157.0          50   2   1166.28
11       Same     Same  50683.0          50   2   2027.32,    Class_From Class_To     Count Buffer_Zone Dam  Area_KM2
0           0        1    2136.0         100   2     85.44
1           0        2   14789.0         100   2    591.56
2           0        5    2666.0         100   2    106.64
3           1        0   57667.0         100   2   2306.68
4           1        2  141067.0         100   2   5642.68
5           1        5   56791.0         100   2   2271.64
6           2        0    2438.0         100   2     97.52
7           2        1   14041.0         100   2    561.64
8           2        5   18673.0         100   2    746.92
9           5        0    4535.0         100   2    181.40
10          5        1   13533.0         100   2    541.32
11          5        2   42742.0         100   2   1709.68
12       Same     Same  414118.0         100   2  16564.72,    Class_From Class_To      Count Buffer_Zone Dam  Area_KM2
0           0        1     2186.0         150   2     87.44
1           0        2    21975.0         150   2    879.00
2           0        5     2666.0         150   2    106.64
3           1        0    72701.0         150   2   2908.04
4           1        2   263522.0         150   2  10540.88
5           1        5   124503.0         150   2   4980.12
6           2        0     2438.0         150   2     97.52
7           2        1    22167.0         150   2    886.68
8           2        5    26202.0         150   2   1048.08
9           5        0     9835.0         150   2    393.40
10          5        1   135061.0         150   2   5402.44
11          5        2    47370.0         150   2   1894.80
12       Same     Same  1036211.0         150   2  41448.44,    Class_From Class_To      Count Buffer_Zone Dam  Area_KM2
0           0        1     7418.0         200   2    296.72
1           0        2    40190.0         200   2   1607.60
2           0        5     3914.0         200   2    156.56
3           1        0   101371.0         200   2   4054.84
4           1        2   395692.0         200   2  15827.68
5           1        5   395400.0         200   2  15816.00
6           2        0     2438.0         200   2     97.52
7           2        1    34001.0         200   2   1360.04
8           2        5    26345.0         200   2   1053.80
9           5        0     9835.0         200   2    393.40
10          5        1   269328.0         200   2  10773.12
11          5        2    63452.0         200   2   2538.08
12       Same     Same  1791792.0         200   2  71671.68,    Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0           0        1    20271.0         250   2     810.84
1           0        2    41800.0         250   2    1672.00
2           0        5    17815.0         250   2     712.60
3           1        0   122108.0         250   2    4884.32
4           1        2   494423.0         250   2   19776.92
5           1        5   781402.0         250   2   31256.08
6           2        0     2438.0         250   2      97.52
7           2        1    62262.0         250   2    2490.48
8           2        5    26958.0         250   2    1078.32
9           5        0     9897.0         250   2     395.88
10          5        1   349152.0         250   2   13966.08
11          5        2    65656.0         250   2    2626.24
12       Same     Same  2914007.0         250   2  116560.28,    Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0           0        1    28760.0         300   2    1150.40
1           0        2    41800.0         300   2    1672.00
2           0        5    30300.0         300   2    1212.00
3           1        0   129762.0         300   2    5190.48
4           1        2   553779.0         300   2   22151.16
5           1        5  1158418.0         300   2   46336.72
6           2        0     2438.0         300   2      97.52
7           2        1    83937.0         300   2    3357.48
8           2        5    31734.0         300   2    1269.36
9           5        0    15304.0         300   2     612.16
10          5        1   562459.0         300   2   22498.36
11          5        2    85005.0         300   2    3400.20
12       Same     Same  4344226.0         300   2  173769.04,    Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0           0        1    35996.0         350   2    1439.84
1           0        2    44881.0         350   2    1795.24
2           0        5    46190.0         350   2    1847.60
3           1        0   137188.0         350   2    5487.52
4           1        2   696437.0         350   2   27857.48
5           1        5  1488613.0         350   2   59544.52
6           2        0     2438.0         350   2      97.52
7           2        1    91095.0         350   2    3643.80
8           2        5    33845.0         350   2    1353.80
9           5        0    16699.0         350   2     667.96
10          5        1   859326.0         350   2   34373.04
11          5        2   110583.0         350   2    4423.32
12       Same     Same  6057106.0         350   2  242284.24,    Class_From Class_To      Count Buffer_Zone Dam   Area_KM2
0           0        1    45068.0         400   2    1802.72
1           0        2    60371.0         400   2    2414.84
2           0        5    50745.0         400   2    2029.80
3           1        0   142998.0         400   2    5719.92
4           1        2   896259.0         400   2   35850.36
5           1        5  1961143.0         400   2   78445.72
6           2        0     2438.0         400   2      97.52
7           2        1   103606.0         400   2    4144.24
8           2        5    33964.0         400   2    1358.56
9           5        0    22941.0         400   2     917.64
10          5        1  1063268.0         400   2   42530.72
11          5        2   138944.0         400   2    5557.76
12       Same     Same  8043801.0         400   2  321752.04,    Class_From Class_To       Count Buffer_Zone Dam   Area_KM2
0           0        1     66412.0         450   2    2656.48
1           0        2     70638.0         450   2    2825.52
2           0        5     63759.0         450   2    2550.36
3           1        0    165130.0         450   2    6605.20
4           1        2   1041872.0         450   2   41674.88
5           1        5   2733727.0         450   2  109349.08
6           2        0      2438.0         450   2      97.52
7           2        1    121502.0         450   2    4860.08
8           2        5     64453.0         450   2    2578.12
9           5        0     22941.0         450   2     917.64
10          5        1   1244623.0         450   2   49784.92
11          5        2    163307.0         450   2    6532.28
12       Same     Same  10142556.0         450   2  405702.24,    Class_From Class_To       Count Buffer_Zone Dam   Area_KM2
0           0        1     92262.0         500   2    3690.48
1           0        2     98042.0         500   2    3921.68
2           0        5     77876.0         500   2    3115.04
3           1        0    179531.0         500   2    7181.24
4           1        2   1105873.0         500   2   44234.92
5           1        5   3549040.0         500   2  141961.60
6           2        0      2438.0         500   2      97.52
7           2        1    129703.0         500   2    5188.12
8           2        5     70648.0         500   2    2825.92
9           5        0     28021.0         500   2    1120.84
10          5        1   1462413.0         500   2   58496.52
11          5        2    254070.0         500   2   10162.80
12       Same     Same  12582119.0         500   2  503284.76,   Class_From Class_To    Count Buffer_Zone Dam  Area_KM2
0          1        0   9698.0          50   3    387.92
1          1        2   7624.0          50   3    304.96

In [16]:
Area_BF = pd.concat(Area_bf)
Area_BF

   Class_From Class_To       Count Buffer_Zone Dam   Area_KM2
0           1        5      3588.0          50   6     143.52
1           5        1     71201.0          50   6    2848.04
2        Same     Same    121101.0          50   6    4844.04
0           1        5      6854.0         100   6     274.16
1           5        1    240486.0         100   6    9619.44
..        ...      ...         ...         ...  ..        ...
5           2        5     57083.0         500   5    2283.32
6           5        0    118667.0         500   5    4746.68
7           5        1   5523219.0         500   5  220928.76
8           5        2      7055.0         500   5     282.20
9        Same     Same  13523020.0         500   5  540920.80

[623 rows x 6 columns]

In [17]:
Area_BF['Buffer_Zone'] = Area_BF['Buffer_Zone'].astype(str).astype(int)
Area_BF.dtypes

Class_From      object
Class_To        object
Count          float64
Buffer_Zone      int32
Dam             object
Area_KM2       float64
dtype: object

In [18]:
Area_BF.dtypes
#Filtering Deforestiation : 1 to 0,2,4,5 
Area_Def =Area_BF[(Area_BF["Class_From"] == "1")  & (Area_BF["Class_To"].isin(["0","2","4","5"]))] 
#Filtering Urbanization : All to 0 
Area_Urb =Area_BF[Area_BF["Class_To"]=="0"]
#Filtering Afforestioan 
Area_AFF = Area_BF[Area_BF["Class_To"]=="1"]
#changed Area 
#Area_Unch = Area_BF[Area_BF["Class_To"]=="Same"]

In [19]:
Are_Def_Sum = Area_Def.groupby(["Dam","Buffer_Zone"]).sum()
Are_Urb = Area_Urb.groupby(["Dam","Buffer_Zone"]).sum()
Are_AF_Sum = Area_AFF.groupby(["Dam","Buffer_Zone"]).sum()
#Are_Un_Sum = Area_Unch.groupby("Buffer_Zone").sum()

In [20]:
#Net Deforestioan 
Area_Net_Def = pd.DataFrame(Are_Def_Sum["Area_KM2"]-Are_AF_Sum["Area_KM2"])
Area_Net_Def

                  Area_KM2
Dam Buffer_Zone
1   50             2971.28
    100           10822.84
    150           19596.16
    200           31783.04
    250           50650.12
    300           65325.72
    350           80794.32
    400          101390.24
    450          131542.80
    500          168094.76
2   50             2967.24
    100            9032.60
    150           12052.48
    200           23268.64
    250           38649.92
    300           46672.12
    350           53432.84
    400           71538.32
    450          100327.68
    500          126002.64
3   50            -2551.48
    100           -8563.28
    150          -11487.68
    200          -17235.08
    250          -36062.16
    300          -50757.36
    350          -74589.56
    400          -98247.32
    450         -127218.52
    500         -156050.64
4   50              786.84
    100           -1760.80
    150           -6306.32
    200          -17558.52
    250          -30611.28
    300          -49101.24
    350          -69042.68
    400          -89211.68
    450         -117316.76
    500         -143613.12
5   50            -2714.16
    100           -9358.68
    150          -19723.12
    200          -35514.72
    250          -53863.16
    300          -72106.88
    350         -101340.60
    400         -133380.04
    450         -169058.16
    500         -210129.80
6   50            -2704.52
    100           -9345.28
    150          -19701.36
    200          -35512.80
    250          -53849.44
    300          -72101.40
    350         -101346.68
    400         -133381.20
    450         -169073.68
    500         -210153.04

In [21]:

Are_Def_Sum['Area_Dif_DEF'] = Are_Def_Sum.groupby(level=0)["Area_KM2"].diff()
Are_Urb['Area_Dif_U'] = Are_Urb["Area_KM2"].groupby(level=0).diff()
Area_Net_Def['Area_Dif_NDEF'] = Area_Net_Def.groupby(level=0)["Area_KM2"].diff()

In [22]:
Are_Urb

                    Count  Area_KM2  Area_Dif_U
Dam Buffer_Zone
1   50            13437.0    537.48         NaN
    100           26012.0   1040.48      503.00
    150           31278.0   1251.12      210.64
    200           35887.0   1435.48      184.36
    250           39855.0   1594.20      158.72
    300           43848.0   1753.92      159.72
    350           50985.0   2039.40      285.48
    400           55188.0   2207.52      168.12
    450           59527.0   2381.08      173.56
    500           63395.0   2535.80      154.72
2   50            33256.0   1330.24         NaN
    100           64640.0   2585.60     1255.36
    150           84974.0   3398.96      813.36
    200          113644.0   4545.76     1146.80
    250          134443.0   5377.72      831.96
    300          147504.0   5900.16      522.44
    350          156325.0   6253.00      352.84
    400          168377.0   6735.08      482.08
    450          190509.0   7620.36      885.28
    500          209990.0   8399.60      779.24
3   50            40752.0   1630.08         NaN
    100           62991.0   2519.64      889.56
    150           71784.0   2871.36      351.72
    200           81803.0   3272.12      400.76
    250           91105.0   3644.20      372.08
    300          130836.0   5233.44     1589.24
    350          186180.0   7447.20     2213.76
    400          245664.0   9826.56     2379.36
    450          305296.0  12211.84     2385.28
    500          342102.0  13684.08     1472.24
4   50             6155.0    246.20         NaN
    100            9286.0    371.44      125.24
    150           14951.0    598.04      226.60
    200           42150.0   1686.00     1087.96
    250           68332.0   2733.28     1047.28
    300          118009.0   4720.36     1987.08
    350          150034.0   6001.36     1281.00
    400          198227.0   7929.08     1927.72
    450          244773.0   9790.92     1861.84
    500          301020.0  12040.80     2249.88
5   200            5024.0    200.96         NaN
    250           10615.0    424.60      223.64
    300           32163.0   1286.52      861.92
    350           54774.0   2190.96      904.44
    400           85604.0   3424.16     1233.20
    450          107992.0   4319.68      895.52
    500          126579.0   5063.16      743.48
6   200            4989.0    199.56         NaN
    250           10669.0    426.76      227.20
    300           32194.0   1287.76      861.00
    350           54915.0   2196.60      908.84
    400           85721.0   3428.84     1232.24
    450          108137.0   4325.48      896.64
    500          126679.0   5067.16      741.68

In [23]:
#Are_Urb["Area_Dif_U"] = Are_Urb.fillna(Are_Urb.Area_KM2)
#Are_Urb.groupby(level = 0).Area_Dif_U.fillna(Are_Urb.Area_KM2)
Are_Urb["Area_Dif_U"] = Are_Urb["Area_Dif_U"].fillna(Are_Urb['Area_KM2'])
Area_Net_Def["Area_Dif_NDEF"] = Area_Net_Def["Area_Dif_NDEF"].fillna(Area_Net_Def['Area_KM2'])
Are_Def_Sum["Area_Dif_DEF"] = Are_Def_Sum["Area_Dif_DEF"].fillna(Are_Def_Sum['Area_KM2'])
Area_Net_Def

                  Area_KM2  Area_Dif_NDEF
Dam Buffer_Zone
1   50             2971.28        2971.28
    100           10822.84        7851.56
    150           19596.16        8773.32
    200           31783.04       12186.88
    250           50650.12       18867.08
    300           65325.72       14675.60
    350           80794.32       15468.60
    400          101390.24       20595.92
    450          131542.80       30152.56
    500          168094.76       36551.96
2   50             2967.24        2967.24
    100            9032.60        6065.36
    150           12052.48        3019.88
    200           23268.64       11216.16
    250           38649.92       15381.28
    300           46672.12        8022.20
    350           53432.84        6760.72
    400           71538.32       18105.48
    450          100327.68       28789.36
    500          126002.64       25674.96
3   50            -2551.48       -2551.48
    100           -8563.28       -6011.80
    150          -11487.68       -2924.40
    200          -17235.08       -5747.40
    250          -36062.16      -18827.08
    300          -50757.36      -14695.20
    350          -74589.56      -23832.20
    400          -98247.32      -23657.76
    450         -127218.52      -28971.20
    500         -156050.64      -28832.12
4   50              786.84         786.84
    100           -1760.80       -2547.64
    150           -6306.32       -4545.52
    200          -17558.52      -11252.20
    250          -30611.28      -13052.76
    300          -49101.24      -18489.96
    350          -69042.68      -19941.44
    400          -89211.68      -20169.00
    450         -117316.76      -28105.08
    500         -143613.12      -26296.36
5   50            -2714.16       -2714.16
    100           -9358.68       -6644.52
    150          -19723.12      -10364.44
    200          -35514.72      -15791.60
    250          -53863.16      -18348.44
    300          -72106.88      -18243.72
    350         -101340.60      -29233.72
    400         -133380.04      -32039.44
    450         -169058.16      -35678.12
    500         -210129.80      -41071.64
6   50            -2704.52       -2704.52
    100           -9345.28       -6640.76
    150          -19701.36      -10356.08
    200          -35512.80      -15811.44
    250          -53849.44      -18336.64
    300          -72101.40      -18251.96
    350         -101346.68      -29245.28
    400         -133381.20      -32034.52
    450         -169073.68      -35692.48
    500         -210153.04      -41079.36

In [28]:
#Waste
#Area_Net_Def.groupby(level=0)["Area_Dif_NDEF"].iloc[0] =Are_Def_Sum.groupby(level=0)["Area_KM2"].iloc[0]
#Are_Urb.groupby(level=0)["Area_Dif_U"].iloc[0] = Are_Urb.groupby(level=0)["Area_KM2"].iloc[0]
#Are_Def_Sum.groupby(level=0)["Area_Dif_DEF"].iloc[0] =Area_Net_Def.groupby(level=0)["Area_KM2"].iloc[0]

In [24]:
Sum_A = pd.DataFrame(data =Area_Net_Def["Area_Dif_NDEF"] )
#Sum_A["Area_Dif_DEF"] = Are_Def_Sum["Area_Dif_DEF"] 
Sum_A["Area_Dif_U"] = Are_Urb["Area_Dif_U"] 
for col in Sum_A.columns: 
    print(col)
    Sum_A[f"{col}_Percntage"] = abs(Sum_A[col] *100)/ Sum_A.groupby(level  = 0 )[col].apply(lambda c: c.abs().sum())
Sum_A = Sum_A.reset_index()
Sum_A.to_excel(rf'D:\mskenawi\one drive\OneDrive - NTNU\PhD\LUHP\Summary\Summary of Data\LT_Buf_Intk\{OP_N}.xlsx')

Area_Dif_NDEF
Area_Dif_U

In [30]:
Sum_A

   Dam  Buffer_Zone  ...  Area_Dif_NDEF_Percntage  Area_Dif_U_Percntage
0    1           50  ...                 1.761833             21.107888
1    1          100  ...                 4.671003             19.912983
2    1          150  ...                 5.217340              8.288669
3    1          200  ...                 7.252448              7.267167
4    1          250  ...                11.238752              6.245665
5    1          300  ...                 8.730725              6.310297
6    1          350  ...                 9.203096             11.302730
7    1          400  ...                12.261839              6.627152
8    1          450  ...                17.941412              6.836812
9    1          500  ...                21.721552              6.100637
10   2           50  ...                 2.350961             15.754031
11   2          100  ...                 4.821997             15.004474
12   2          150  ...                 2.405206              9.698559
13   2          200  ...                 8.902915             13.646704
14   2          250  ...                12.199587              9.919381
15   2          300  ...                 6.352369              6.208239
16   2          350  ...                 5.367618              4.221317
17   2          400  ...                14.413207              5.757553
18   2          450  ...                22.844172             10.537111
19   2          500  ...                20.341967              9.252632
20   3           50  ...                 1.993673              0.955429
21   3          100  ...                 3.845874              6.562775
22   3          150  ...                 1.868005              2.896765
23   3          200  ...                 3.661867              3.328430
24   3          250  ...                12.020044              3.086923
25   3          300  ...                 9.389967             13.190483
26   3          350  ...                15.219735             18.367820
27   3          400  ...                15.109310             19.675737
28   3          450  ...                18.513919             19.721123
29   3          500  ...                18.377605             12.214514
30   4           50  ...                 0.470931                   NaN
31   4          100  ...                 1.747096              1.059251
32   4          150  ...                 3.134613              1.902453
33   4          200  ...                 7.750731              9.214265
34   4          250  ...                 8.995503              8.886804
35   4          300  ...                12.740926             16.874194
36   4          350  ...                13.760899             10.873239
37   4          400  ...                13.907393             16.318832
38   4          450  ...                19.362179             15.789545
39   4          500  ...                18.129728             19.081418
40   5           50  ...                 1.559182              4.083507
41   5          100  ...                 0.666479              5.852654
42   5          150  ...                 2.667383             10.605054
43   5          200  ...                 7.689525              5.291514
44   5          250  ...                12.094950             19.601578
45   5          300  ...                12.720394             11.724961
46   5          350  ...                13.416784             15.750862
47   5          400  ...                14.793575              9.019226
48   5          450  ...                13.691702             12.078044
49   5          500  ...                20.700026              5.992599
50   6           50  ...                 1.286929                   NaN
51   6          100  ...                 3.159964                   NaN
52   6          150  ...                 4.927875                   NaN
53   6          200  ...                 7.523774              3.938301
54   6          250  ...                 8.725375              4.483774
55   6          300  ...                 8.685080             16.991767
56   6          350  ...                13.916182             17.935885
57   6          400  ...                15.243425             24.318158
58   6          450  ...                16.984042             17.695119
59   6          500  ...                19.547355             14.636996

[60 rows x 6 columns]

In [31]:
Sum_A_P = Sum_A
for col in Sum_A_P.columns: 
    print(col)
    #Sum_A_P[col].groupby(level= 0)  =  (Sum_A_P[col].groupby(level= 0))*100 
    Sum_A_P[col] = Sum_A_P[col] *100/ Sum_A_P.groupby(level  = 0 )[col].transform('sum')
Sum_A_P

Dam

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [774]:
#Absolute Plotting 
fig, ax = plt.subplots(figsize=(11.69,8.27))
#Sum_A_P.plot(ax=ax, marker='o', ls='-')
ax.set_xlabel("BufferZone 100 M")
ax.set_ylabel(r"Change in Km$^2$")
Sum_A.plot(kind='bar', ax=ax, color = ["#1c4c5e", "#a6e590", "#060369"])
ax.legend(["Net Deforestation", "Gross Deforestation", "Urbanization"])
plt.show()
#plt.savefig(r"C:\Users\mskenawi\Dropbox\PhD\LU_HP\Ecognition\WorkSpaces\Trollheim\Output\Absolute change of Intakes_500m.png",dpi=1200)

In [1033]:
#Percent Plotting 
fig, ax = plt.subplots(figsize=(11.69,8.27))
#Sum_A_P.plot(ax=ax, marker='o', ls='-')
ax.set_xlabel("BufferZone 100 M")
ax.set_ylabel("Percentage of Change %")
Sum_A_P["Area_Dif_U"].plot(kind='bar', ax=ax)
#ax.legend(["Net Deforestation", "Gross Deforestation", "Urbanization"])
plt.show()

In [1036]:
fig, ax = plt.subplots(figsize=(11.69,8.27))
plot = meansum.plot(kind='bar',yerr=stdsum,colormap='OrRd_r',edgecolor='black',grid=False,figsize=8,2),ax=ax,position=0.45,error_kw=dict(ecolor='black',elinewidth=0.5, lolims=True),width=0.8)
for ch in plot.get_children():
    if str(ch).startswith('Line2D'): # this is silly, but it appears that the first Line in the children are the caplines...
        ch.set_marker('_')
        ch.set_markersize(10) # to change its size
        break
plt.show()

SyntaxError: invalid syntax (<string>, line 3)

In [ ]:

fig, ax = plt.subplots()
df = pd.DataFrame({"val":[1,2,3,4],"error":[.4,.3,.6,.9]})
meansum = df["val"]
stdsum = df["error"]

plot = meansum.plot(kind='bar',yerr=stdsum,colormap='OrRd_r',edgecolor='black',grid=False,figsize=8,2),ax=ax,position=0.45,error_kw=dict(ecolor='black',elinewidth=0.5, lolims=True),width=0.8)
for ch in plot.get_children():
    if str(ch).startswith('Line2D'): # this is silly, but it appears that the first Line in the children are the caplines...
        ch.set_marker('_')
        ch.set_markersize(10) # to change its size
        break
plt.show()

In [1039]:
arcpy.ia.CreateAccuracyAssessmentPoints("Troll_T3", r"C:\Users\mskenawi\Dropbox\PhD\LU_HP\Ecognition\WorkSpaces\Trollheim\GIS\TrollHeim\TrollHeim.gdb\ACC_T3", "CLASSIFIED", 400, "EQUALIZED_STRATIFIED_RANDOM", None)

ExecuteError: ERROR 160385: Workspace or data source is read only.
Workspace or data source is read only.
Workspace or data source is read only.
Failed to execute (CreateAccuracyAssessmentPoints).